.background {
    -fx-background-image: url("img/bg_principal.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button{
    -fx-background-color: #FFFFFF;
    -fx-background-radius:15;
}
.button:hover{
    -fx-background-color: #FE5D5D;
    -fx-text-fill: white;
}

.redBg{
    -fx-background-color: #FE5D5D;
    -fx-text-fill: white;
}

.btnArrow{
    -fx-background-image: url("img/arrow.png");
}

.hidden{
    visibility: hidden;
}